body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin:10px auto;
    width: 400px;
    
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    background: aliceblue;
   text-align: center;
    opacity: 50%;
    border: 3px solid rgb(255, 255, 255);
}
.btnContainer{
    margin: 10px;
    
}
 .dateAfter{
    margin: 10px;
}
.dateBefore{
    margin: 10px;
}