*{
  margin: 0;
  padding: 0;
 
  box-sizing: border-box;
}

html, body{
  margin: 10px;
  height: 100%;
  /* overflow: hidden; */
  background: #e9ecf0;
  text-align: center;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: 10vh repeat(2, 1fr) 40vh;
 grid-template-rows: 32% 21% 1fr ;
  grid-column-gap: 10px;
  grid-row-gap: 10px;  
  }
  
  .first { grid-area: 1 / 1 / 4 / 2; }
  .nav { grid-area: 1 / 2 / 2 / 3; }
  .excenge { grid-area: 1 / 3 / 2/ 4; }
  .grapgic { grid-area: 2 / 2 / 4 / 4; }
  .clockContainer  { grid-area: 1 / 4 / 2 / 4; }
  .conponent { grid-area: 2 / 4 / 4 / 4; }
  .tree { grid-area: 3 / 4 / 4 / 4; }
.first {
  /* margin: auto;
  padding: 40px ,30px; */
  height: 100%;
  font-size: 30px;
  font-weight: bolder;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-radius: 50px;
}
.nav{width: 100%;
  
 }

.excenge { width: 100%;
  
}
.grapgic{
  padding: 5px;
  height: 100%;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgb(94 104 121 / 29%);}

canvas  {margin: auto;
  height: 95% !important; 
width: 95%!important;

 }  
 .clockContainer{
  width: 100%;
  
 }
 .conponent{
   width: 100%;
   height: fit-content;
 }
.tree { 
  margin: auto;
  overflow-x: auto;
  height:100%; 
  width: 100%;
}
.first,.nav,.tree,.excenge,.clockContainer,.conponent{
  padding: 20px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgb(94 104 121 / 29%);}




p {background: #121FCF;
    background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin: auto;
}

td {
  padding: 5px;
  text-align: center;
  /* border: 1px solid black; */
  border-spacing: 0px;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
th {
 
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}

button{
  margin: 15px 5px;
  
  width: 60px;
  height: 60px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #dde1e7;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
.ttable{
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
button:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}
.selectCourse{
  height: 50px;
  width: 320px;
  display: flex;
 margin: auto;
  position: relative;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #3498db;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}



.excangeFirstCurse,.excangeSecondCurse,
.excengeOne ,.excengeTwo{
  height: 50px;
  width: 320px;
  display: flex;
 margin: auto;
  position: relative;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #3498db;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}

.dateBefore,
.dateAfter {
  height: 50px;
  width: 170px;
  display: flex;
 margin: auto;
  position: relative;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 15px;
  background: #dde1e7;
  color: #3498db;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}
.dateRate{
    margin: auto;
    display: inline-flex;
}

.animation_text {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; 
  animation-duration: 2s; 
}
.clock{
  margin: auto;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/clock.png);
 
  background-size: cover;
  border: 4px solid #e9ecf0;;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
              0 15px 15px rgba(0, 0, 0, 0.3),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
.clock:before
{
content: '';
position:absolute;
width: 15px;
height: 15px;
background:#fff;
border-radius: 50%;
z-index: 10000;

}
.clock .hour,
.clock .min,
.clock .sec
{
  position:absolute;
}
.clock, .hour, .hr{
  width: 160px;
  height: 160px;

}
.clock, .min, .mn{
  width: 190px;
  height: 190px;

}
.clock ,.sec, .sc{
  width: 220px;
  height: 220px;

}
.hr, .mn, .sc
{
  display: flex;
  justify-content:center;
  /* align-items: center; */
  position: absolute;
  border-radius: 50%;
}

.hr:before{
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
} 
.mn:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before{
  content: '';
  position: absolute;
  width: 2px;
  height: 95px;
  background: rgb(51, 205, 226);
  z-index: 12;
  border-radius: 6px 6px 0 0;
}